<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <title>
            {{ title }}
        </title>
        <link rel="stylesheet" href="/modern-normalize.css">
        <link rel="stylesheet" href="/style.css">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Place favicon.ico in the root directory -->
    </head>
    <body>
        <main>
            {{ content }}
        </main>
    </body>
</html>
