---
layout: every.liquid
permalink: /{{ title | slugify }}/
---
<header>
    <h2>{{ title }}</h2>
    <ul>
        {% for item in collections.tab %}
            <li{% if page.url == item.url %} aria-current="page"{% endif %}>
               {% if page.url != item.url %}
                    <a href="{{ item.url }}">{{ item.data.title }}</a>
                {% else %}
                    {{ item.data.title }}
               {% endif %}
            </li>
        {% endfor %}
    </ul>
</header>
<main>
    {{ content }}
<main>
